pydantic
pytest
seaborn
typer
num2words
transformers
tqdm
boto3
ddsketch
google-cloud-aiplatform
wandb
kaleido==0.2.1 # bundles Chrome
plotly>=5,<6 # works with kaleido v0
pandas
jinja2
lm_eval
simplejson # `requests` may require it
aiohttp
